
@use '../styles/signup' as *; 
@use '../styles/home' as *;
@use '../styles/card.scss' as *;





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

.container{
    margin: 0 auto;
    // width: 1350px;
}
