.user-note {
    display: grid;
    grid-template-columns: 1fr 400px;
    margin-top: 1rem;

    .usernote-content-left {
        .usernote-content-left-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            gap: 35px;

        }

        .usernote-content-left-top-right {
            background: rgba(241, 199, 91, 1);
            width: 385px;
            height: 422px;
            // margin-top: 1rem;
            border-radius: 10px;

            .usernote-wrap-head {
                padding: 1rem 1rem 0rem 1rem;

                .usernote-head {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            .usernote-wrap-textarea {
                .usernote-textarea {
                    background: rgba(241, 199, 91, 1);
                    width: 372px;
                    height: 346px;
                    // margin-top: 1rem;
                    padding: 1rem 1rem 1rem 1rem;
                    border: none;
                    outline: none;
                    resize: none;
                    overflow-y: scroll;
                    border-radius: 10px;

                }
            }


        }

        .usernote-content-left-bottom {
            background: rgba(30, 35, 67, 1);
            width: 925px;
            height: 33%;
            margin-top: 1rem;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1fr 520px;
            justify-content: center;
            align-items: center;
            padding: 1rem 3rem;
            border-radius: 10px;

            .music-player-wrapper {
                position: relative;
                background: #181d37;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 3px 3px 6px #19131e inset, -3px -3px 6px 1px #17161680 inset;

                .music-player {
                    border: 8px solid rgba(255, 106, 106, 1);
                    width: 168px;
                    height: 168px;
                    border-radius: 50%;
                }

                .timer {
                    position: absolute;

                    p {
                        font-weight: 600;
                        color: #ffff;
                        font-size: 28px;
                        letter-spacing: -.0075em;
                        line-height: 36px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }

            }



            .time-inputs {
                display: flex;
                gap: 80px;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: -3rem;
                position: relative;


                .time-unit {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: rgba(148, 148, 148, 1);
                    font-size: 24px;
                    gap: 3px;

                    span {
                        font-size: 18px;
                        font-family: 'Courier New', Courier, monospace;
                        font-weight: 600;
                        // padding-bottom: 1rem;
                    }

                    button {
                        background: none;
                        border: none;
                        color: rgba(148, 148, 148, 1);
                        font-size: 24px;
                        cursor: pointer;
                    }

                    .time-value {
                        font-size: 26px;
                        font-weight: bold;
                        margin: 14px 0;
                        color: rgba(255, 255, 255, 1);
                    }

                    .colon {
                        font-size: 34px;
                        font-weight: bold;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-left: 10rem;
                        margin-top: 1rem;
                        color: #ffff;
                    }
                }

            }

            .start-btn {
                background-color: #ff6a6a;
                color: white;
                border: none;
                padding: 12px 40px;
                border-radius: 25px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s;
                position: absolute;
                bottom: -3.3rem;
                width: 70%;

                &:hover {
                    background-color: #ff4d4d;
                }
            }
        }
    }


    .usernote-content-right {
        width: 392px;
        height: 700px !important;
    }

    .browse-btn {
        background-color: rgba(20, 138, 8, 1);
        color: white;
        border: none;
        padding: 14px 40px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        position: absolute;
        width: 10%;
        right: 90px;
        bottom: 1rem;
        &:hover {
            background-color: rgb(22, 95, 14);
        }
    }
}


.usernote-textarea::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.usernote-textarea::-webkit-scrollbar-track {
    background-color: rgba(241, 199, 91, 1);
}

.usernote-textarea::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

.usernote-textarea::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.custom-profile {
    .profile {
        width: 100%; //507px
        height: 220px; //350
        padding: .5rem 2rem;
        display: flex;
        gap: 30px;
        flex-direction: row;
        background: linear-gradient(135deg, rgb(61 10 190) 47%, rgb(198 90 238) 100%);

        .profile-img img {
            width: 90px;
            height: 193px;

        }

        .profile-data {
            h2 {
                font-size: 16px;
            }

            p {
                font-size: 16px;
                font-weight: 600;
                margin-top: .6rem;


            }

            h1 {
                font-size: 28px;
                margin-top: 0.5rem;
                letter-spacing: -.01em;
                font-weight: 600;
            }

            .interests-wrapper {
                margin-top: .6rem;

                .interest {
                    width: 130px;
                    text-align: center;
                    height: 32px;
                    padding-top: 5px;
                    font-size: 17px;
                    margin-top: 0;
                }
            }
        }
    }
}

.custom-weather {
    width: 507px;
    margin-top: 1.5rem;
    height: max-content; //212px

    .weather-card__header {
        height: 42px;
        font-size: 22px;
    }

    .weather-card__body {
        padding: 0;
        gap: 0;

        .weather-condition {
            gap: 0;

            .weather-icon {
                font-size: 0px;
            }
        }

        .temperature {
            gap: 0;

            .temp-value {
                font-size: 30px;
            }

            .temp-wrap {
                gap: 0;
            }

            .value {
                font-size: 14px;
            }
        }

        .details {
            gap: 0;

            .detail-item .detail-item-wrap .label {
                font-size: 14px;
            }
        }
    }
}

.custom-newsfeed {
    margin-top: 0;
    border-radius: 10px;
    max-height: 638px;
}