.user-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  margin-top: 2rem;
  margin-left: 3rem;

  .user-page-left {
    width: 892px;

    .profile {
      display: grid;
      grid-template-columns: 200px 1fr;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: rgb(87, 70, 234);
      border-radius: 48px;
      width: 750px;

      .profile-img {
        img {
          width: 210px;
          height: 374px; //350
          object-fit: cover;
          border-radius: 100px;
          border: 5px solid #ffffff;
        }
      }

      .profile-data {
        margin: 0 auto;

        h2 {
          color: #ffffff;
          font-size: 36px;
          margin-top: 1rem;
          text-transform: capitalize;
        }

        p {
          color: #ffffff;
          font-size: 36px;
          margin-top: 1rem;
        }

        h1 {
          color: #ffffff;
          font-size: 38px;
          font-weight: 700;
          line-height: 37px;
          font-family: "Roboto", sans-serif;
          margin-top: 1.5rem;
        }

        .interests-wrapper {
          display: grid;
          gap: 12px;
          align-items: center;
          justify-content: center;
          grid-template-columns: repeat(2, 1fr);
          margin-top: 2rem;

          .interest {
            color: #ffffff;
            font-size: 22px;
            background: rgb(159, 148, 255);
            border-radius: 50px;
            width: 156px;
            text-align: center;
            height: 34px;
            padding-top: 3px;
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .user-page-right {
    // margin-top: 1rem;

    .right-card-content {
      // img {
      //     width: 367px;
      //     height: 555px;
      //     object-fit: cover;
      //     border-top-left-radius: 19px;
      //     border-top-right-radius: 19px;
      // }
    }
  }
}
